.backdrop {
  position: absolute; /* fixed; */
  width: 1600px;
  height: 1024px; 
  left: -10px;
  top: 0; 
  transform: translate(5%, 71%);
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--primary-text-color);
  /* overflow: auto; /* скрол */
  opacity: 1;
  /* visibility: hidden; */
}
.backdrop.is-hidden {
  /* "вскрыть" - спеціальні класи */
  opacity: 1; /* 1 прозорість 100%; або 0 - 0% */
  pointer-events: none; /* =вказівника позиція; none означає, що за умови дії класу is-hidden на елемент не діють події*/
  /*visibility: hidden; */
}

.is-hidden {
  top: -100%;
  transform: translateX(50%) scale: (0.1);
}

.modal-one {
  position: fixed; /* ! рекомендується 1)позиція, 2)геометрія, 3) інше */
   /* left: 529px;
  top: 221px; */
  top: 0;
  left: 0; 
  min-width: 470px;
  min-height: 500px;
  padding: 30px,40px;
  transform: translate(
    50%,
    50%
  ); /* позиціювання рекомендується саме таке: transform   JS*/
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 1px 3px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(1px);
/* Note: backdrop-filter has minimal browser support */
  border-radius: 4px;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  transition: background-color 250ms  var(--timing-function);
  /* z-index: 2 ; */
  transform: translateX(50%) scale: (1);
  transition:all 100ms;
}

.data-modal-open {}

.icon-modal {
  /* іконка <svg>*/
  position: absolute;
  top: 6px;
  right: 6px;
  width: 18px;
  height: 18px;
  /*transform: translate(50%, 50%);*/
  fill: var(--secondary-black-color); /* перед цим з sprite.svg видалити fill */
  align-items: center;
}
.data-modal-close {
  position: absolute; /* fixed; */
  top: 13px;
  right: 8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary-white-color);
 /*  outline: 2px solid var(--primary-white-color);*/
  background-color: var(--primary-white-color);
    /* overflow: auto; /* скрол */
  opacity: 1;
  /* visibility: hidden; */
  
}
.data-modal-close:hover {
  /* задаємо колір на ссилку при hover, Практ. №8 2.04.20  */
  fill: var(--accent-color);
  border: var(--accent-color);
  transition: outline 250ms var(--timing-function);
}
.data-modal-close:hover .icon-modal {
  /* hover на ссилку */
  fill: var(--accent-color);
  transition: outline 250ms var(--timing-function);
  /* transition: opacity 250ms var(--timing-function); */
}